.favorites__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.favorites__title {
  color: #023031;
  display: flex;
  font-family: Montserrat , sans-serif;
  font-size: 30px;
  justify-content: center;
  margin: 30px 0;
}

.favorites__image {
  border-radius: 50%;
  height: 80px;
  margin-right: 40px;
  width: 80px;
}

.favorites__card {
  align-items: center;
  display: flex;
}
